### 尹老师作为lcpandas最佳题解最多的人竟然数据库暴雷，令人感叹

In [2]:
import numpy as np
import pandas as pd

In [3]:
# 列表生成 Series
s=pd.Series([1,3,4,5,np.nan,6])
s

0    1.0
1    3.0
2    4.0
3    5.0
4    NaN
5    6.0
dtype: float64

In [14]:
# 用series 字典 对象生成DataFrame

# 创建一个DataFrame
df2 = pd.DataFrame({
    'A': 1,  # 列'A'的值全部为1
    'B': pd.Timestamp('20210609'),  # 列'B'的值为一个时间戳
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),  # 列'C'的值为一个Pandas Series，索引为[0, 1, 2, 3]，值全部为1，数据类型为float32
    'D': np.array([3]*4, dtype='float32'),  # 列'D'的值为一个NumPy数组，元素全部为3，数据类型为float32
    'E': pd.Categorical(['test', 'train', 'test', 'train']),  # 列'E'的值为一个分类变量，包含四个类别'test'、'train'，数据类型为Categorical
    'F': 'SilveryZz'  # 列'F'的值全部为'foo'
})
df2

   A          B    C    D      E          F
0  1 2021-06-09  1.0  3.0   test  SilveryZz
1  1 2021-06-09  1.0  3.0  train  SilveryZz
2  1 2021-06-09  1.0  3.0   test  SilveryZz
3  1 2021-06-09  1.0  3.0  train  SilveryZz

In [22]:
#用日期
d =pd.date_range('20121213',periods=6)
d

DatetimeIndex(['2012-12-13', '2012-12-14', '2012-12-15', '2012-12-16',
               '2012-12-17', '2012-12-18'],
              dtype='datetime64[ns]', freq='D')

In [25]:
df=pd.DataFrame(np.random.rand(6,4),index=d,columns=list('ABCD'))
df#结合图细品

                   A         B         C         D
2012-12-13  0.775585  0.863058  0.487846  0.720818
2012-12-14  0.393914  0.343744  0.667311  0.544001
2012-12-15  0.773277  0.281727  0.831660  0.029889
2012-12-16  0.222401  0.336302  0.616577  0.861299
2012-12-17  0.764986  0.146791  0.835565  0.627138
2012-12-18  0.914258  0.666609  0.981403  0.438783

In [28]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D           float32
E          category
F            object
dtype: object

In [31]:
df2.head()

   A          B    C    D      E          F
0  1 2021-06-09  1.0  3.0   test  SilveryZz
1  1 2021-06-09  1.0  3.0  train  SilveryZz
2  1 2021-06-09  1.0  3.0   test  SilveryZz
3  1 2021-06-09  1.0  3.0  train  SilveryZz

In [32]:
df2.tail(3)

   A          B    C    D      E          F
1  1 2021-06-09  1.0  3.0  train  SilveryZz
2  1 2021-06-09  1.0  3.0   test  SilveryZz
3  1 2021-06-09  1.0  3.0  train  SilveryZz

In [34]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [36]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [40]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.640737  0.439705  0.736727  0.536988
std    0.269046  0.268838  0.178798  0.287729
min    0.222401  0.146791  0.487846  0.029889
25%    0.486682  0.295371  0.629260  0.465087
50%    0.769131  0.340023  0.749486  0.585570
75%    0.775008  0.585892  0.834589  0.697398
max    0.914258  0.863058  0.981403  0.861299

In [41]:
df.sort_index(axis=1,ascending=False)#ascending就是升序

                   D         C         B         A
2012-12-13  0.720818  0.487846  0.863058  0.775585
2012-12-14  0.544001  0.667311  0.343744  0.393914
2012-12-15  0.029889  0.831660  0.281727  0.773277
2012-12-16  0.861299  0.616577  0.336302  0.222401
2012-12-17  0.627138  0.835565  0.146791  0.764986
2012-12-18  0.438783  0.981403  0.666609  0.914258

In [42]:
df.sort_values(by='B')

                   A         B         C         D
2012-12-17  0.764986  0.146791  0.835565  0.627138
2012-12-15  0.773277  0.281727  0.831660  0.029889
2012-12-16  0.222401  0.336302  0.616577  0.861299
2012-12-14  0.393914  0.343744  0.667311  0.544001
2012-12-18  0.914258  0.666609  0.981403  0.438783
2012-12-13  0.775585  0.863058  0.487846  0.720818